.custom-highlight {
  background: yellow;
  color: black;
  padding: 0 2px;
  border-radius: 2px;
}
/* Expansion panel (??? blocks) font */
.md-typeset details {
  font-size: 14px;
}

/* Title inside panel */
.md-typeset details summary {
  font-size: 14px;
  font-weight: 600;
}

/* Code inside panel */
.md-typeset details pre code {
  font-size: 13px;
}